@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700&subset=latin-ext");
* {
  box-sizing: border-box; }

.container {
  overflow: none;
  min-width: 100vw;
  min-height: 100vh;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0; }

.bg1 {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  background-image: url("../images/bg1.jpg"); }

.bg2 {
  display: flex;
  justify-content: center space-between;
  align-items: center;
  background-color: white;
  background-image: url("../images/bg2.jpg"); }

.bg3 {
  background-color: white; }

.bg4 {
  background-color: brown;
  background-image: url("../images/bg4.jpg"); }

.navbar {
  min-width: 100vw;
  z-index: 100; }

.navbar-effect a {
  padding-top: 0;
  text-decoration: none;
  color: black; }

.navbar-effect a:hover {
  border-top: 3px solid red;
  text-decoration: none;
  color: black; }

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 12vw; }

.control i {
  margin: 10%; }

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.welcome-text h1 {
  font-family: 'Old Standard TT', serif;
  font-size: 5em;
  text-shadow: 0px 0px 10px #000000; }

.welcome-text p {
  font-family: 'Old Standard TT', serif;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: 0px 0px 10px #000000; }

.frame {
  width: 0;
  height: 0;
  border-bottom: 100vh solid white;
  border-left: 50vw solid transparent;
  z-index: 2; }

.profess {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh; }

.profess p {
  margin-bottom: 0;
  margin-left: 1vw;
  font-family: 'Old Standard TT', serif;
  font-size: 2em;
  color: #202020; }

.profess p:hover {
  text-shadow: 0px 0px 10px #000000; }

.quote {
  padding-top: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  font-size: 1.5em;
  color: #ff0056; }

.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.subBackgroundOne {
  width: 0;
  height: 0;
  border-bottom: 100vh solid white;
  border-right: 50vw solid transparent;
  z-index: 1; }

.imglist {
  z-index: 2; }

@media screen and (max-width: 1200px) {
  .profess p {
    font-size: 1.5em; }
  .quote {
    font-size: 1.5em; }
  .welcome-text h1 {
    font-size: 2.5em; }
  .welcome-text p {
    font-size: 1.5em;
    text-align: center; } }

@media screen and (max-width: 992px) {
  .profess p {
    font-size: 1em; }
  .quote {
    font-size: 1em; }
  .welcome-text h1 {
    font-size: 2em; }
  .welcome-text p {
    font-size: 1em;
    text-align: center; } }

@media screen and (max-width: 640px) {
  .welcome-text h1 {
    margin-top: 5vh;
    margin-bottom: 0; }
  .welcome-text p {
    margin-bottom: -10vh; }
  .frame {
    width: 75vw; } }
