@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700&subset=latin-ext');
* {
    box-sizing: border-box;
}

.container {
    overflow: none;
    min-width: 100vw;
    min-height: 100vh;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.col-6 {
    height: 100vh;
}

.bg1 {
    background-color: white;
    background-image: url("../images/bg1.jpg");
}

.bg2 {
    background-color: brown;
}

.bg3 {
    background-color: white;
}

.bg4 {
    background-color: brown;
    background-image: url("../images/bg4.jpg");
}

.navbar {
    min-width: 100vw;
}

.navbar-effect a {
    padding-top: 0;
    text-decoration: none;
}

.navbar-effect a:hover {
    border-top: 3px solid red;
    color: black;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 12vw;
}

.control i {
    margin: 10%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 5em;
    text-shadow: 0px 0px 10px #000000;
}

.welcome-text p {
    font-family: 'Old Standard TT', serif;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 0px 0px 10px #000000;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.frame {
    width: 35vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000000;
}